<div class="container">
    <img href="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou segestão, entre em contato!
        </p>
        <p>
            <span>
                .<img ssrc="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="gkboves@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(99)99999-999</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png">
            </span>
            <h5>Av. Jucelino Kubichek 1000 - 03025-550 - São Paulo</h5>
        </p>
    </div>
</div>